@import '../../styles/colors';

.rating {
    text-align: center;
}

.rating span {
    font-family: "Engravers Gothic";
    font-size: 18px;
    color: white;
    display: block;
}

.score {
    font-size: 42px;
    font-weight: normal;
    color: $red;
    line-height: 1;
}

a:link, a:visited {
    color: $teal;
}

figure {
    width: 250px;
    float: right;
    margin-left: 5px;
}

figcaption {
    color: $teal;
    font-family: "Engravers Gothic";
    font-size: 12px;
    margin-top: 5px;
}