@import '../../styles/colors';

.rating {
    text-align: center;
    float: right;
}

.rating span {
    // font-family: "Engravers Gothic";
    font-size: 18px;
    color: white;
    display: block;
}

.ratingScore {
    font-size: 42px;
    font-weight: normal;
    color: $red;
    line-height: 1;
}