@import '../../styles/colors';

.card {
    text-decoration: none;
    height: 100%;
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
    display: block;
    color: $default-text;

    &:hover {
        border-color: $teal;
        color: $default-text;

        h1 {
            color: $teal;
        }
    }

    article {
        padding: 16px 24px;
        transition: all 0.2s ease;
        position: relative;
        height: 100%;
        z-index: 1;
    
        h1 {
            font-size: 32px;
            line-height: 36px;
            color: white;
            margin-bottom: 12px;
            transition: all 0.2s ease;
    
            small { //Aurebesh
                font-size: 12px;
                line-height: 14px;
            }
        }
    
        p {
            line-height: 1.4;
            margin-top: 0;
        }
    
    }    

    .cover {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        image-rendering: pixelated;
    }
}

.card.horizontal {
    article {
        padding-right: 200px;
        background-image: linear-gradient(to left, transparent, transparent 150px, $black 250px, $black);
    }

    .cover {
        width: 250px;
        bottom: 0;
    }
}

.card.vertical {
    article {
        padding-top: 200px;
        background-image: linear-gradient(to bottom, transparent, transparent 150px, $black 220px, $black);
    }

    .cover {
        height: 250px;
        left: 0;
    }
}