@import '../styles/colors';
@import '../styles/vars';

.mission {
    grid-column: 1  / -1;
    position: relative;
    z-index: 1;
    margin-left: -16px;
    margin-right: -16px;
    padding: 30vh 16px 0;
    background-image: linear-gradient(to bottom, transparent 10vh, $black 40vh);

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        display: block;
        bottom: 0;
    }

    h2 {
        margin-top: 40px;
        margin-bottom: 8px;
        text-transform: uppercase;
    }

    h2 + p,
    h2 + ul {
        margin-top: 0;
    }
}

.download {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;

    strong {
        font-size: 2rem;
        line-height: 1.2;
        color: $teal;
        text-decoration: underline;
        display: block;
        margin-bottom: 0.2em;
    }
}

.missingFile {
    margin-left: 20px;
    margin-top: 20px;

    strong {
        color: $red;
        text-transform: uppercase;
    }

    p {
        margin-top: 0;
        line-height: 1.4;
        font-size: 1.4rem;
    }

    a {
        display: block;
    }
}

.plot {
    color: $gold;
}

.coverImage {
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    height: 40vh;
    // height: calc(100vh - 84px);
    image-rendering: pixelated;
    background-position: center;
    // background-color: $teal;
    background-size: cover;
    // background-blend-mode: multiply;
    opacity: 0.9;
}

.missionRating {
    font-size: 2rem;
    margin-bottom: 4rem;
}

@media screen and (min-width: 767px) {
    .mission {
        padding: 25vh 5% $spacing-8;
        background-image: linear-gradient(to bottom, transparent 25vh, $black 50vh);
    }

    .coverImage {
        position: fixed;
        top: 88px;
        height: 60vh;
    }
}


@media screen and (min-width: 1023px) {
    .descAndReviews {
        grid-column: 3 / 4;
    }
}
