@import '../styles/colors';
@import '../styles/vars';

.mission {
    position: relative;
    z-index: 1;
    margin-top: -#{$spacing-3};
    margin-left: -#{$spacing-5};
    margin-right: -#{$spacing-5};
    padding: 10vh $spacing-5;
    background-image: linear-gradient(to bottom, transparent 10vh, $black 50vh);

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        display: block;
        bottom: 0;
    }

    h2 {
        margin-top: 40px;
        margin-bottom: 8px;
        text-transform: uppercase;
    }

    h2 + p,
    h2 + ul {
        margin-top: 0;
    }
}

.download {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;

    strong {
        font-size: 2rem;
        line-height: 1.2;
        color: $teal;
        text-decoration: underline;
        display: block;
        margin-bottom: 0.2em;
    }
}

.missingFile {
    margin-left: 20px;
    margin-top: 20px;

    strong {
        color: $red;
        text-transform: uppercase;
    }

    p {
        margin-top: 0;
        line-height: 1.4;
        font-size: 1.4rem;
    }

    a {
        display: block;
    }
}

.plot {
    color: $gold;
}

.coverImage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    image-rendering: pixelated;
    background-position: bottom;
    background-color: $teal;
    background-size: cover;
    background-blend-mode: multiply;
    opacity: 0.5;
}

@media screen and (min-width: 767px) {
    .mission {
        margin-left: -#{$spacing-8};
        margin-right: -#{$spacing-8};
        margin-bottom: -#{$spacing-8};
        padding-top: 25vh;
        padding-bottom: $spacing-8;
        background-image: linear-gradient(to bottom, transparent 25vh, $black 75vh);
    }
}


@media screen and (min-width: 1023px) {
    .mission {
        margin-left: -#{$spacing-10};
        margin-right: -#{$spacing-10};
        margin-bottom: -#{$spacing-10};
    }

    .descAndReviews {
        grid-column: 3 / 4;
    }
}