@import '../../styles/colors';

.card, .card:link, .card:visited {
    position: relative;
    display: block;
    border: 1px solid $glow-border;
    text-decoration: none;
    height: 100%;

    article {
        position: relative;
        z-index: 1;
        padding: 16px 24px;
        color: $default-text;
        height: 100%;
    }

    h1 {
        font-size: 2.4rem;
        margin-bottom: 0;
        margin-top: 0;

        small {
            font-size: 1.2rem;
        }
    }

    &:hover {
        color: $default-text;
        border-color: $teal;

        strong {
            color: $teal;
        }
    }

    p {
        margin-top: 0.5em;
        margin-bottom: 0;
    }

    .cover {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        image-rendering: pixelated;
    }
}

.card.horizontal {
    article {
        padding-right: 80px;
        background-image: linear-gradient(to left, transparent, transparent 70px, $black 120px, $black);
    }

    .cover {
        width: 120px;
        bottom: 0;
    }
}

.card.vertical {
    article {
        padding-top: 80px;
        background-image: linear-gradient(to bottom, transparent, transparent 70px, $black 120px, $black);
    }

    .cover {
        height: 120px;
        left: 0;
    }
}

.authorList {
    font-size: 1.4rem;
}

.ecClass {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 12px 32px 32px;
    background-image: radial-gradient(at 52px 32px, rgba($black, 0.8), rgba($black, 0.6) 30%, transparent 70%, transparent), linear-gradient(to bottom left, $black, transparent 50%, transparent);
    
    svg {
        width: 40px;
    }
}

@media screen and (min-width: 767px) {
    .card.horizontal {
        article {
            padding-right: 200px;
            background-image: linear-gradient(to left, transparent, transparent 150px, $black 250px, $black);
        }
    
        .cover {
            width: 250px;
        }
    }
    
    .card.vertical {
        article {
            padding-top: 200px;
            background-image: linear-gradient(to bottom, transparent, transparent 150px, $black 220px, $black);
        }
    
        .cover {
            height: 250px;
        }
    }
}