@import '../../styles/colors';

.card, .card:link, .card:visited {
    position: relative;
    display: block;
    border-radius: 16px;
    // border: 1px solid $glow-border;
    text-decoration: none;
    height: 100%;
    // overflow: hidden;
    padding: 8px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2px rgba(255,255,255,0.8);
        // background-color: rgba(0,0,0,0.2);
        background-image: radial-gradient(ellipse at top left, rgba(white, 0.5), rgba($teal, 0.5) 2%, rgba($dark-teal, 0.5) 10%, rgba($gray,0.1) 50%), linear-gradient(to right, rgba($gray,0.8), rgba($gray,0.6) 50%, transparent 75%);
        // backdrop-filter: blur(5px);
        z-index: 0;
        border-radius: 16px;
        transition: all 0.1s ease-in-out;
    }

    article {
        position: relative;
        z-index: 1;
        padding: 2.4rem 3.2rem;
        color: $default-text;
        height: 100%;
        border-radius: 12px;
        border: 2px solid white;
        // background-color: rgba(0,0,0,0.7);
        // backdrop-filter: blur(5px);
        transition: all 0.1s ease-in-out;
    }

    h1 {
        font-size: 2.4rem;
        margin-bottom: 0;
        margin-top: 0;
        transition: all 0.1s ease-in-out;

        small {
            font-size: 1.2rem;
            color: rgba(255,255,255,0.3);
        }
    }

    &:hover {
        color: $default-text;

        &:after {
            box-shadow: inset 0 0 8px rgba($teal, 0.5), inset 0 0 2px rgba($teal,0.8);
            background-color: rgba($teal,0.1);
        }

        article {
            // border-color: $teal;
        }

        h1 {
            // color: $teal;
        }
    }

    p {
        margin-top: 0.5em;
        margin-bottom: 0;
        text-shadow: 0 0 1rem rgba(0,0,0,0.5);
    }

    .cover {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        image-rendering: pixelated;
        border-radius: 16px;
        opacity: 0.7;
    }
}

.card.horizontal {
    article {
        padding-right: 30%;
        
    }

    // .cover {
    //     width: 120px;
    //     bottom: 0;
    // }
}

.card.vertical {
    article {
        padding-top: 80px;
        // background-image: radial-gradient(circle at top left, rgba($teal, 0.5), rgba(0,0,0,0.1) 25%);
    }

    // .cover {
    //     height: 120px;
    //     left: 0;
    // }
}

.authorList {
    font-size: 1.4rem;
    color: rgba(255,255,255,0.6);
}

.ecClass {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 12px 32px 32px;
    border-top-right-radius: 12px;
    background-image: radial-gradient(at 52px 32px, rgba($black, 0.8), rgba($black, 0.6) 30%, transparent 70%, transparent), linear-gradient(to bottom left, $black, transparent 50%, transparent);
    
    svg {
        width: 40px;
    }
}

@media screen and (min-width: 767px) {
    .card.horizontal {
        article {
            padding-right: 30%;
            // background-image: radial-gradient(circle at top left, rgba($teal, 0.5), rgba(0,0,0,0.1) 25%);
        }
    
        // .cover {
        //     width: 250px;
        // }
    }
    
    .card.vertical {
        article {
            padding-top: 200px;
            // background-image: radial-gradient(circle at top left, rgba($teal, 0.5), rgba(0,0,0,0.1) 25%);
        }
    
        // .cover {
        //     height: 250px;
        // }
    }
}