$red: #C00;
$light-teal: #b3fffd;
$teal: #1FE071;
$dark-teal: #007668;
$blue: #2e99cf;
$dark-blue: #19526e;
$amber: #e06d18;
$dark-amber: #773a0d;
$glow-border: rgba(255,255,255,0.4);
$gray: #1a1e1e;
$black: #020611;
$gold: #f5c459;
$brown: #8c6a44;


$default-text: #d2d2d2;


$light-gray: #374140;