$red: #C00;
$light-teal: #b3fffd;
$teal: #04e6a4;
$dark-teal: #007668;
$glow-border: rgba(255,255,255,0.4);
$gray: #66656d;
$brown: #8c6a44;
$amber: #e06d18;
$gold: #f5c459;
$black: #020611;

// $red: #C00;
// $teal: #1FE071;
// $glow-border: rgba(255,255,255,0.4);
// $gray: #111;
// $brown: #8c6a44;
// $amber: #e06d18;
// $gold: #f5c459;
