@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Aurebesh';
    src: url('/fonts/aurebesh-webfont.woff2') format('woff2'),
         url('/fonts/aurebesh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'Engravers Gothic';
//     src: url('/fonts/engravers_gothic_regular-webfont.woff2') format('woff2'),
//          url('/fonts/engravers_gothic_regular-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Ford Antenna';
//     src: url('/fonts/FordAntenna-ExtraLight.woff2') format('woff2'),
//          url('/fonts/FordAntenna-ExtraLight.woff') format('woff');
//     font-weight: 200;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Ford Antenna';
//     src: url('/fonts/FordAntenna-ExtraLightItalic.woff2') format('woff2'),
//          url('/fonts/FordAntenna-ExtraLightItalic.woff') format('woff');
//     font-weight: 200;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Ford Antenna';
//     src: url('/fonts/FordAntenna-Light.woff2') format('woff2'),
//          url('/fonts/FordAntenna-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Ford Antenna';
//     src: url('/fonts/FordAntenna-LightItalic.woff2') format('woff2'),
//          url('/fonts/FordAntenna-LightItalic.woff') format('woff');
//     font-weight: 300;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Ford Antenna';
//     src: url('/fonts/FordAntenna-Regular.woff2') format('woff2'),
//          url('/fonts/FordAntenna-Regular.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Ford Antenna';
//     src: url('/fonts/FordAntenna-RegularItalic.woff2') format('woff2'),
//          url('/fonts/FordAntenna-RegularItalic.woff') format('woff');
//     font-weight: 400;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Ford Antenna';
//     src: url('/fonts/FordAntenna-Black.woff2') format('woff2'),
//          url('/fonts/FordAntenna-Black.woff') format('woff');
//     font-weight: 800;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Ford Antenna';
//     src: url('/fonts/FordAntenna-BlackItalic.woff2') format('woff2'),
//          url('/fonts/FordAntenna-BlackItalic.woff') format('woff');
//     font-weight: 800;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Ford Antenna Comp';
//     src: url('/fonts/FordAntennaComp-Medium.woff2') format('woff2'),
//          url('/fonts/FordAntennaComp-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Ford Antenna Comp';
//     src: url('/fonts/FordAntennaComp-MediumItalic.woff2') format('woff2'),
//          url('/fonts/FordAntennaComp-MediumItalic.woff') format('woff');
//     font-weight: 500;
//     font-style: italic;
// }