@font-face {
    font-family: 'Aurebesh';
    src: url('/public/fonts/aurebesh-webfont.woff2') format('woff2'),
         url('/public/fonts/aurebesh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Engravers Gothic';
    src: url('/public/fonts/engravers_gothic_regular-webfont.woff2') format('woff2'),
         url('/public/fonts/engravers_gothic_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}