@import 'remedy';
@import 'colors';
@import 'fonts';

body {
    background-color: $gray;
    // background-image: url("../images/sidebar_bg.png");
    // background-size: auto;
    // background-repeat: repeat-y;
    color: white;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.5;

    &:after {
        content: "";
        display: block;
        background-image: url("../images/topographic-map.gif");
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }
}

main {
    // background-color: black;
    padding-top: 64px;
    padding-bottom: 64px;
    z-index: 1;
    background-color: rgba(0,0,0,0.1);
    // backdrop-filter: blur(10px);
}

@media (min-width: 769px) {
    main {
        padding-top: 110px;
    }
}

body.home main {
    background-image: url("../images/planet.png");
    background-size: 500px;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Engravers Gothic";
    font-weight: 400;
    line-height: 1.1;
}

h1 {
    font-size: 48px;
    margin: 0.2em 0 0.4em;
}

.section_icon {
    max-width: 100px;
    float: left;
    margin-right: 20px;
}

.section_icon + h1 {
    margin-left: 120px;

    &:after {
        clear: both;
    }
}


a:link, a:visited {
    color: $teal;
}

.mission {
    figure {
        width: 320px;
        float: right;
        margin: 0;
        margin-left: 1em;
        margin-bottom: 1em;
        // margin-right: -100px;
    }

    figcaption {
        color: $teal;
        font-family: "Engravers Gothic";
        font-size: 14px;
        line-height: 1.25;
        margin-top: 5px;
    }
}

header.nestHeader {
    // border-top: 5px solid $teal;
    display: flex;
    align-items: center;
    background-image: url("../images/planet.png");
    background-color: rgba(0,0,0,0.8);
    background-size: 200px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 10;
    border-bottom: 1px solid $glow-border;

    > * {
        flex-grow: 1;
    }

    .site_title {
        a:link {
            text-decoration: none;
            display: flex;
            align-items: center;
        }
    }

    h1 {
        margin: 0;
        font-size: 36px;

        @media (min-width: 769px) {
            font-size: 48px;
        }
    }

    #crow {
        width: 100px;  
        margin-left: 10px;
        margin-right: 20px;
    }
}

#homepage_header {
    height: 170px;
    background: none !important;
    backdrop-filter: none;
    border-bottom: none;

    #crow {
        position: absolute;
        width: 215px;
        top: 42px;
        left: 100px;
    }

    h1 {
        position: absolute;
        left: 334px;
        top: 58px;
        font-size: 60px;

        &:after {
            text-shadow: 0 0 4px rgba(255,255,255, 0.8), 0 0 7px rgba(255,255,255,0.8), 1px 1px 0 $glow-border, -1px -1px 0 $glow-border, -1px 1px 0 $glow-border, 1px -1px 0 $glow-border;
        }
    }
}

// .content {
//     max-width: 44em;
//     padding: 2em;
//     margin: auto;
//     position: relative;
//     z-index: 2;
// }

.content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr minmax(40ch, 70ch) minmax(145px, 2fr) 1fr;
    grid-template-areas: "... padding content sidebar ...";
    position: relative;
    z-index: 1;
}

.mission {
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 0 black, 0 0 40px rgba(0,0,0,0.6);
    padding-top: 10vh;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        display: block;
        bottom: 0;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), transparent 100px, transparent 10vh, rgba(0,0,0,0.75) 40vh, black);
    }

    h2 {
        margin-bottom: 5px;
        border-bottom: 1px solid $glow-border;
    }

    h2 + p,
    h2 + ul {
        margin-top: 0;
    }

    @media (min-width: 769px) {
        &.hasHeroImage {
            padding-top: 40vh;

            &:after {
                background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), transparent 100px, transparent 40vh, rgba(0,0,0,0.75) 75vh, black);
            }
        }

        .descAndReviews {
            grid-column: 3 / 4;
        }

        .plot {
            color: $gold;
        }

        .supplemental {
            border-left: 1px solid $glow-border;
        }
    }

    .download {
        display: block;
        margin-top: 20px;
        margin-left: 20px;
        color: white;
        font-size: 14px;
        text-decoration: none;

        strong {
            font-size: 20px;
            color: $teal;
            text-decoration: underline;
            display: block;
            line-height: 1.2;
            margin-bottom: 0.2em;
        }
    }

    .missingFile {
        margin-left: 20px;
        margin-top: 20px;

        strong {
            color: $red;
        }

        p {
            margin-top: 0;

        }
    }

    .heroImage {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        // right: 0;
        // bottom: 0;
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        image-rendering: pixelated; // Use pixelated instead of crisp-edges to support Chrome
        z-index: -1;
    }
}

.mission-grid {
    padding: 0;
    list-style: none;
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 2rem;
    margin: 0 auto;
    padding-bottom: 2em;

    li {
        position: relative;
        max-width: 320px;
    }
}

code {
    color: $amber;
}

@import "./weapons.scss";
@import "./enemies.scss";
