@import 'remedy';
@import 'colors';
@import 'fonts';
@import 'vars';

:root {
    font-size: 10px;
}

html { 
    background-color: $gray;
}

.amber {
    color: $amber;
}

.teal {
    color: $teal;
}

.blue {
    color: $blue;
}

.gold {
    color: $gold;
}

body {
    color: $default-text;
    background-color: $black;
    margin: 0;
    font-family: "Montserrat", "Avenir", "Century Gothic", "CenturyGothic", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
}

.uppercase {
    text-transform: uppercase;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

main {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;

    > *:last-child {
        padding-bottom: 4.8rem;
    }
}

strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Encode Sans Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "ArialNovaCond-Bold", "Arial Nova Cond Bold", sans-serif;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 1px;
    color: white;
}

a:link, a:visited {
    color: white;
    text-decoration-color: $teal;
}

a:hover {
    color: $teal;
}

.content {
    position: relative;
    z-index: 1;
}

code {
    color: $amber;
}



.fauxLink {
    display: block;
    text-align: right;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: $teal;
    font-size: 1.2rem;
    font-weight: 600;
}

.text {
    grid-column: 3 / 4;
    max-width: 70ch;
    margin: auto;

    h1 {
        text-align: center;
    }

    figure {
        figcaption {
            display: block;
            font-size: 14px;
            color: #aaa;
            width: 100%;
            margin-top: 8px;
        }

        @media screen and (min-width: 767px) {
            float: right;
            margin-left: 32px;
            width: 300px;
        }
    }
}

@media screen and (min-width: 767px) {
    .cn-layout {
        display: grid;
        grid-template-columns: 1fr minmax(320px, $max-width) 1fr;
        grid-template-rows: min-content auto min-content;
        gap: 0px 0px;
    }

    h1 {
        font-size: 4.7rem;
        margin: 0.2em 0 0.4em;
    }

    main {
        display: grid;
        grid-template-columns: 5% 1fr 3fr 1fr 5%;
        gap: 0 1.6rem;
        margin: 0;
        margin-top: 88px;
        padding: 0;
        padding-top: $spacing-8;
        max-width: $max-width;
        position: relative;
        grid-column: 2 / 3;

        > *:last-child {
            padding-bottom: 4.8rem;
        }

        &:before, &:after {
            content: '';
            position: fixed;
            top: 0;
            width: calc(((100% - 1600px) / 2) - 24px);
            height: 100%;
            z-index: 103;
            background-color: $gray;
            background-image: url("/images/panel.svg");
            background-size: cover;
        }

        &:before {
            left: 0;
            background-position: right center;
        }

        &:after {
            right: 0;
            background-position: left center;
        }
    }

    .glow {
        position: fixed;
        margin: 0 auto;
        top: 88px;
        left: 8px;
        right: 8px;
        width: calc(100vw - 16px);
        max-width: $max-width;
        bottom: 24px;
        z-index: 100;
        border: 2px solid rgba(255,255,255,0.8);
        border-radius: 20px;
        box-shadow: inset 0 0 10vw rgba($blue, 0.7), 0 0 10vw rgba($blue, 0.8), 0 0 0 10vw $black;
        pointer-events: none;
        grid-column: 2 / 3;

        &:before {
            content: '';
            position: fixed;
            margin: 0 auto;
            top: 64px;
            left: -32px;
            right: -32px;
            bottom: 0px;
            width: calc(100% + 32px);
            max-width: calc(#{$max-width} + 48px);
            border: 14px solid $black;
            border-radius: 40px;
            pointer-events: none;
            z-index: 200;
            box-shadow: 0 0 0 80px $gray;
        }
    }

    .content {
        max-width: 70ch;
        margin: auto;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1023px) {
    main {
        margin-top: 106px;
    }

    .glow {
        top: 108px;

        &:before {
            top: 84px;
        }
    }

    .content {
        max-width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-gap: 0 1.6rem;
        // grid-gap: 0 30px;
        // grid-template-columns: 1fr 1fr minmax(40ch, 70ch) minmax(200px, 2fr) 1fr;
        // grid-template-areas: "... padding content sidebar ...";
    }
}