@import '../../styles/colors';
@import '../../styles/vars';

.card, .card:link, .card:visited {
    position: relative;
    display: block;
    border-radius: 16px;
    text-decoration: none;
    height: 100%;
    padding: 8px;
    background-color: $black;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2px rgba(255,255,255,0.8);
        // background-color: rgba(0,0,0,0.2);
        background-image: radial-gradient(ellipse at top left, rgba(white, 0.5), rgba($blue, 0.5) 2%, rgba($dark-blue, 0.5) 10%, rgba($gray,0.1) 50%), linear-gradient(to right, rgba($gray,0.8), rgba($gray,0.6) 50%, transparent 75%);
        z-index: 0;
        border-radius: 16px;
        transition: all 0.1s ease-in-out;
    }

    article {
        position: relative;
        z-index: 1;
        padding: 2.4rem 3.2rem;
        color: $default-text;
        height: 100%;
        border-radius: 12px;
        border: 2px solid white;
        transition: all 0.1s ease-in-out;
    }

    h1 {
        font-size: 2.4rem;
        margin-bottom: 0;
        margin-top: 0;
        transition: all 0.1s ease-in-out;

        small {
            font-size: 1.2rem;
            color: rgba(255,255,255,0.3);
        }
    }

    &:hover {
        color: $default-text;

        &:after {
            box-shadow: inset 0 0 8px rgba($blue, 0.5), inset 0 0 2px rgba($blue,0.8);
            background-color: rgba($blue,0.1);
        }
    }

    p {
        margin-top: 0.5em;
        margin-bottom: 0;
        text-shadow: 0 0 1rem rgba(0,0,0,0.5);
    }

    .cover {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        image-rendering: pixelated;
        border-radius: 16px;
        opacity: 0.7;
    }
}

.tag {
    font-size: 10px;
    text-transform: uppercase;
    display: inline-block;
    // position: absolute;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: $dark-blue;
    color: $blue;
}

.card.mission {
    &:after {
        background-image: radial-gradient(ellipse at top left, rgba(white, 0.5), rgba($teal, 0.5) 2%, rgba($dark-teal, 0.5) 10%, rgba($gray,0.1) 50%), linear-gradient(to right, rgba($gray,0.8), rgba($gray,0.6) 50%, transparent 75%);
    }

    &:hover {
        &:after {
            box-shadow: inset 0 0 8px rgba($teal, 0.5), inset 0 0 2px rgba($teal,0.8);
            background-color: rgba($teal,0.1);
        }
    }

    .tag {
        background-color: $dark-teal;
        color: $teal;
    }
}

.card.component {
    &:after {
        background-image: radial-gradient(ellipse at top left, rgba(white, 0.5), rgba($gold, 0.5) 2%, rgba($dark-amber, 0.5) 10%, rgba($gray,0.1) 50%), linear-gradient(to right, rgba($gray,0.8), rgba($gray,0.6) 50%, transparent 75%);
    }

    &:hover {
        &:after {
            box-shadow: inset 0 0 8px rgba($amber, 0.5), inset 0 0 2px rgba($amber,0.8);
            background-color: rgba($amber,0.1);
        }
    }

    .tag {
        background-color: $dark-amber;
        color: $amber;
    }
}

.card.horizontal {
    article {
        padding-right: 30%;
        
    }

    // .cover {
    //     width: 120px;
    //     bottom: 0;
    // }
}

.card.vertical {
    article {
        padding-top: 80px;
        // background-image: radial-gradient(circle at top left, rgba($teal, 0.5), rgba(0,0,0,0.1) 25%);
    }

    // .cover {
    //     height: 120px;
    //     left: 0;
    // }
}

@media screen and (min-width: 767px) {
    .card.horizontal {
        article {
            padding-right: 30%;
            // background-image: radial-gradient(circle at top left, rgba($teal, 0.5), rgba(0,0,0,0.1) 25%);
        }
    
        // .cover {
        //     width: 250px;
        // }
    }
    
    .card.vertical {
        article {
            padding-top: 200px;
            // background-image: radial-gradient(circle at top left, rgba($teal, 0.5), rgba(0,0,0,0.1) 25%);
        }
    
        // .cover {
        //     height: 250px;
        // }
    }
}