@import '../../styles/vars';
@import '../../styles/colors';


.active {
    border-bottom-color: $teal !important;
    font-weight: 500;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: center;

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $black;
        position: relative;

        &:before, &:after {
            content: '';
            display: block;
            width: $spacing-7;
            height: $spacing-7;
            border: $spacing-7/2 solid $gray;
            border-bottom-color: $black;
        }

        &:before {
            border-right-color: $black;
        }

        &:after {
            border-left-color: $black;
        }
    }

    li {
        list-style: none;
    }

    a:link, a:visited {
        color: white;
        font-family: "Encode Sans Condensed", sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        border-bottom: $spacing-2 solid transparent;
        margin-bottom: -#{$spacing-3};
        padding: $spacing-3 $spacing-4;
        height: $spacing-7;
    }
}

@media screen and (min-width: 767px) {
    .navigation {

        ul {
            width: auto;
            justify-content: center;

            &:before, &:after {
                width: $spacing-8;
                height: $spacing-8;
                border-width: $spacing-8/2;
            }
        }

        a:link, a:visited {
            padding: $spacing-3 $spacing-5;
            height: $spacing-8;
            font-size: 1.8rem;
        }
    }
}