@import '../../styles/vars';
@import '../../styles/colors';

.header {
    position: relative;
    z-index: 3;
    text-shadow: 1px 1px 0 $black, 0 0 40px rgba(0,0,0,0.6);
    margin-right: -#{$spacing-5};
    margin-left: -#{$spacing-5};
    background-color: rgba($black,0.5);
    border-left: 10px solid $teal;
}

.content {
    padding-left: $spacing-5;
    display: grid;
    // grid-template-columns: 1fr 100px;

    > * {
    // &:after {
        z-index: 1;
    }
}

.headGroup {
    
    h1 {
        margin-top: 20px;
        margin-bottom: 0.2em;

        small { // Aurebesh
            font-size: 1.6rem;
        }
    }
}

.awards {
    margin-left: 10px;
}

.ecLink {
    text-decoration: none;
    
    &, & svg {
        width: 80px;
    }
}


@media screen and (min-width: 767px) {
    .content {
        background-color: transparent;
        border-left: none;
        padding: 20px 32px;
    }

    .ecLink {
        &, & svg {
            width: 145px;
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1022px) {
    .content {
        grid-template-columns: 1fr 100px;
    }
}

@media screen and (min-width: 1023px) {
    .header {
        background-color: transparent;
        border-left: none;
    }

    .content {
        padding-right: 0;
        padding-left: 8px;

        > *, 
        &:after {
            grid-row: row 1;
            padding: 20px 0;
        }
    
        &:after {
            display: block;
            content: "";
            grid-column: 2 / 6;
            background-color: rgba($black,0.5);
            border-left: 10px solid $teal;
            z-index: 0;
        }
    }

    .headGroup {
        grid-column: 3 / 4;
    }

    .awards {
        grid-column: 4 / 5;
    }
}