@import '../../styles/vars';
@import '../../styles/colors';


.header {
  position: relative;
  z-index: 103;
  width: 100%;
  background-color: $gray;

  > div {
    position: relative;
  }

  img {
    position: absolute;
    transform: rotate(15deg);
    width: 80px;
    margin-top: $spacing-2;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: $spacing-3 $spacing-5;
  margin-bottom: $spacing-2;
  height: 48px;
  position: relative;
  font-size: 3.2rem;

  h1 {
    margin: 0;
    margin-left: 80px;
    // margin-right: $spacing-9;
  }
}

@media screen and (min-width: 767px) {
  .header {
    display: flex;
    position: fixed;

    > div {
      width: 100%;
      max-width: $max-width;
      padding: 0 $spacing-10;
      margin: auto;
      display: flex;
      align-items: flex-end;
      // justify-content: space-between;
    }

    img {
      width: 160px;
      margin-left: -#{$spacing-9};
      margin-top: $spacing-4;
    }
  }

  .title {
    font-size: 4.8rem;
    height: 80px;
    padding: $spacing-6 0 $spacing-4 $spacing-7;
    margin-right: 40px;
  }
}