@import '../../styles/colors';

.siteTitle {
    position: relative;

    > * {
        display: block;
        position: relative;

        > span {
            background-color: transparent;
            background-image: linear-gradient($teal, black 65%, black);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            white-space: nowrap;
            position: relative;
            z-index: 5;
        }

        &:before {
            background: none;
            background-color: transparent;
            content: attr(data-text);
            text-shadow: 0 0 3px rgba(255,255,255, 0.8), 0 0 6px rgba(255,255,255,0.8), 1px 1px 0 $glow-border, -1px -1px 0 $glow-border, -1px 1px 0 $glow-border, 1px -1px 0 $glow-border;
            position: absolute;
            z-index: 2;
            white-space: nowrap;
            color: transparent;
        }
    }

    > span {
        position: absolute;
        top: -0.3em;
        left: 1.6em;
        font-size: 0.4em;
    }

    strong {
        z-index: 1;
    }
}