@import '../../styles/colors';

.footer {
    background-color: $gray;
    border-top: 1px solid lighten($gray, 10%);
    padding: 1em;
    position: relative;
    z-index: 10;
    
    ul {
        margin: 0;
    }
}