@import '../../styles/colors';

.techspecs {
    clear: both;
    padding: 0 0 0 20px;
    font-size: 1.4rem;

    ul {
        padding: 0;
        line-height: 1.3;
    }

    li {
        list-style: none;
        margin-bottom: 12px;
    }
}

.components {
    li {
        img {
            width: 12px;
            display: inline-block;
            margin-right: 5px;
        }
    }
}