@import '../../styles/colors';

.grid {
    display: contents;

    article {
        h1 {
            text-transform: uppercase;
        }
    }

    h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.6rem;
        letter-spacing: 3px;
        margin-top: 0;
        margin-bottom: 4px;
        color: $default-text;
    }
}

.enemyContent {
    grid-column: 3 / -1;
}

.enemyNav {
    grid-column: 2 / 3;
}

.navigation {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;

    li {
        list-style: none;
        display: inline-block;
        margin: 0;
    }

    a:link, a:visited {
        border: 1px solid $glow-border;
        text-transform: uppercase;
        display: block;
        margin-right: 8px;
        font-size: 1.4rem;
        font-weight: 500;
        text-decoration: none;
        position: relative;

        &.active {
            color: $teal;
            border-color: $teal;
            
            img {
                filter: saturate(0);
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $teal;
                background-blend-mode: multiply;
                opacity: 0.1;
            }
        }
    }

    img {
        width: 80px;
        height: 80px;
        image-rendering: pixelated;
    }
}

@media screen and (min-width: 767px) {
    .grid {
        .enemyContent {
            display: contents;

            article {
                grid-column: 3 / 4;
                max-width: 60ch;
                margin: 0 auto;
            }

            > div {
                grid-column: 4 / -1;
            }
        }

        .enemyNav {
            grid-row: 1;
        }
    }
}

@media screen and (min-width: 1023px) {
    .grid {
        margin-right: 0;
        grid-template-columns: 270px auto;
    }
}