$captureWidth: 674px;

@import '../../styles/colors';
@import '../../styles/vars';

.captureScroll {
    position: relative;
    width: $captureWidth;
    height: 420px;
    overflow: hidden;

    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        padding: 0;
        margin: 0;
        position: absolute;
        z-index: 1;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: $black;
        color: white;
        overflow: hidden;
        top: 50%;
        margin-top: -20px;
        opacity: 0.5;
        font-family: sans-serif;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &:after {
            content: '';
            background-color: white;
            mask-size: cover;
            height: 20px;
            width: 20px;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }

    .next {
        right: 8px;
        
        &:after {
            mask: url('/images/arrow-right.svg');
        }
    }

    .prev {
        left: 8px;

        &:after {
            mask: url('/images/arrow-left.svg');
        }
    }
}

.captureList {
    margin: 0;
    padding: 0;
    display: flex;
    transition: 0.2s transform ease-in-out;

    li {
        list-style: none;
        position: relative;
    }

    figure {
        margin: 0;
    }

    img {
        width: $captureWidth;
        // height: 420px;
        image-rendering: pixelated;
    }

    figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(to top, rgba(0,0,0,0.8) 32px, transparent);
        text-shadow: 1px 1px 0 rgba(0,0,0,0.9);
        font-size: 1.4rem;
        margin: 0;
        padding: 20px 16px 8px;

        &:empty {
            display: none;
        }
    }

    &.offset0 {
        transform: translateX(0);
    }

    &.offset1 {
        transform: translateX($captureWidth * -1);
    }

    &.offset2 {
        transform: translateX($captureWidth * -2);
    }

    &.offset3 {
        transform: translateX($captureWidth * -3);
    }

    &.offset4 {
        transform: translateX($captureWidth * -4);
    }

    &.offset5 {
        transform: translateX($captureWidth * -5);
    }

    &.offset6 {
        transform: translateX($captureWidth * -6);
    }

    &.offset7 {
        transform: translateX($captureWidth * -7);
    }

    &.stack1 {
        width: $captureWidth;
    }

    &.stack2 {
        width: $captureWidth * 2;
    }

    &.stack3 {
        width: $captureWidth * 3;
    }

    &.stack4 {
        width: $captureWidth * 4;
    }

    &.stack5 {
        width: $captureWidth * 5;
    }

    &.stack6 {
        width: $captureWidth * 6;
    }

    &.stack7 {
        width: $captureWidth * 7;
    }

    &.stack8 {
        width: $captureWidth * 8;
    }
}

.buttons {
    display: flex;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;

        &.active {
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid $teal;
                background-color: rgba($teal, 0.2);
            }

            img {
                filter: saturate(0);
            }
        }
    }

    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 0;
        border: none;
        margin: 0;
        display: block;
        cursor: pointer;
    }

    img {
        width: 100px;
    }
}