@import '../../styles/colors';

.top {
    position: relative;
    display: block;
    border-radius: 16px;
    text-decoration: none;
    // height: 100%;
    padding: 8px;
    background-color: $black;
    box-shadow: inset 0 0 16px 8px $black;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2px rgba(255,255,255,0.8);
        // background-color: rgba(0,0,0,0.2);
        background-image: radial-gradient(ellipse at top left, rgba(white, 0.5), rgba($blue, 0.5) 2%, rgba($dark-blue, 0.5) 10%, transparent 50%);
        z-index: 0;
        border-radius: 16px;
        transition: all 0.1s ease-in-out;
    }

    article {
        position: relative;
        z-index: 2;
        padding: 2.4rem 3.2rem;
        padding-top: 100px;
        color: $default-text;
        height: 100%;
        border-radius: 12px;
        border: 2px solid white;
        transition: all 0.1s ease-in-out;
        // box-shadow: 0 0 0 7px rgba(0,0,0,0.5);
        // background-image: linear-gradient(to bottom, transparent 80px, $black 95px);

        h1 {
            text-shadow: 1px 1px 0 $black, 0 0 16px rgba($black,0.2);
            margin-bottom: 0.5rem;
            margin-top: 1.6rem;

            small {
                font-size: 1.2rem;
                color: rgba(255,255,255,0.3);
            }
        }
    }

    &:hover {
        &:after {
            box-shadow: inset 0 0 8px rgba($blue, 0.5), inset 0 0 2px rgba($blue,0.8);
            background-color: rgba($blue,0.1);
        }
    }
}

.cover {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    left: 8px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (min-width: 767px) {
    .top {
        article {
            padding-top: 250px;
            // background-image: linear-gradient(to bottom, transparent 230px, $black 245px);
        }
    }
    
    .cover {
        height: 250px;
    }
}
